/bin/
/**/rootfs
/brigade-worker/dist/
/brigade-worker/doc/
/brigade-worker/node_modules/
/tests/testdata/*-generated.*
.DS_Store

# IDEs
.vscode/
.idea/
.swp

# Docs
docs/public/*

# Developer
pvt/

.brigade/secrets.yaml
.brigade/node_modules/
