# This file is described here:  https://help.github.com/en/articles/about-code-owners

# Global Owners: These are brigadecore org maintainers
* @brigadecore/maintainers

# Doc Owners:
/docs/ @brigadecore/docs-maintainers
