body.home {
  @include helvetica;
  overflow-x: hidden;

  .row {
  max-width: 72rem;
  }

  .row.fullwidth {
      max-width: 100%;
  }

  h1 {
    @include klinicBold;
  }

  h2, h3, h4, h5 {
    @include klinicReg;
  }
}


#cookie-banner {
  background: rgba(238,238,238,0.5);
  padding: 0.75rem 0;
  text-align: center;
  z-index: 1501;
  position: static;

  .cc-container   {
    max-width: 75rem;
    margin: 0 auto;
  }

  p {
    margin: 0;
    font-size: 0.75rem;
    line-height: 1.2;
    color: lighten($darkblue, 20%);
  }
}

nav.home-nav {
  position: absolute;
  min-height: 300px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2000;

  h1 {
    position: absolute;
    left: 5%;
    top: 0.5rem;
    max-width: 112px;

    img,
    svg {
      min-height: 96px;
    }
  }

  ul {
    position: absolute;
    top: 3.25rem;
    right: 2%;

    li {
      list-style: none;
      display: inline-block;

      a {
        display: inline-block;
        margin: 0 1.333rem;
        font-size: 1.25rem;
        line-height: 2;
        position: relative;
        letter-spacing: 0.0125em;
        color: $darkblue;
        @include klinicBold;
        @include ripple;

        img {
          max-height: 2rem;
          color: $dark2;
          line-height: 2.5;
          padding-top: 0.5rem;
          margin: -0.5rem -1rem 0 1rem;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

#helm.home {
  background: $blue;

  .billboard {
    background-color: white;
    //background: url('/src/img/pattern-topo.png') left top repeat;
    background-size: 376px;
    background-attachment: fixed;
    min-height: 480px;
    padding-top: 250px;
    position: relative;
    text-align: center;

    h1 {
      @include klinicBold;
      color: $blue;
      font-size: 2.925rem;
    }

    h2 {
      @include helvetica;
      color: $darkblue;
      font-size: 1.25rem;
      margin-bottom: 30px;
    }

    &:after {
      $height: 6px;
      background: url('/src/img/pattern-waves.png') left top repeat-x;
      background-size: $gutter;
      bottom: 0;
      content: '';
      display: block;
      height: $height;
      position: absolute;
      width: 100%;
    }

    &.blog-billboard {
      min-height: 180px;
      padding-top: 50px;
    }
  }

  #blog {
    background: $blue;
    background: linear-gradient(180deg, rgba(76,179,225,1) 0%, rgba(42,140,184,1) 100%);
    margin-bottom: 6rem;
    min-height: 450px;

    .blog-section {
      h1.blog-subhead {
        font-size: 1.5rem;
        padding: 2rem 5rem;
        opacity: 0.75;
      }
    }

    article.post__content {
      padding-top: 2rem;
      padding-bottom: 7.5rem;

      h1 {
        font-size: 3rem;
      }
    }

    p {
      padding-right: 2%;
      font-size: 1.333rem;
      line-height: 1.636;
      margin-top: 1.2rem;
      margin-bottom: 2rem;
    }

    p.date {
      font-size: 0.925rem;
      font-weight: bold;
      margin: -0.5rem 0 2.5rem;
      color: $darkblue;
    }

    p.author {
      margin-top: 2.5rem;
      line-height: 1.2;

      small {
        font-size: 1rem;
      }
    }
  }

  .content {
    h1, h2, h3, h5 {
      color: white;
      @include klinicBold;
    }

    h2 {
      font-size: 2.5rem;
      margin: 2rem 0;
      padding-top: 1em;
    }

    p, ul, li {
      color: white;
      font-size: 1.25rem;
      line-height: 1.4;
      @include helvetica;
      -webkit-font-smoothing: antialiased;
    }

    p {
      margin-bottom: 1.4rem;
    }

    .github-stats {
      padding-top: 1em;
    }

    a {
      color: white;
      font-weight: bold;
    }

    .helm-overview-img {
      margin: 3.5rem 0 3rem;
    }
  }

  .helm-features {
    background: url('/src/img/features-bg.png') no-repeat center 0;
    background-size: cover;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 2em;
    padding-bottom: 4rem;

    .large-3 {
      min-height: 280px;
    }

    h2 {
      @include klinicBold;
      color: $darkblue;
      border-bottom: 4px solid lighten($blue, 25%);
      margin: 1.5rem 0 2.5rem;
      display: inline-block;

      .fa {
        color: $pink;
      }
    }

    h3 {
      color: $darkblue;
      margin: 0.25em 0 0.5em;
      font-size: 1.5rem;
      padding-top: 90px;
      position: relative;
      @include klinicBold;

      small {
        position: absolute;
        top: 8.667em;
        color: red;
        width: 10em;
        left: 50%;
        font-size: 0.6em;
        margin-left: -5em;
      }
    }

    .columns {
      position: relative;
    }

    img {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -29px;
    }

    p {
      font-size: 0.925rem;
      padding: 0 5%;

      code {
        border: none;
      }
    }

    .row {
      background-color: white;

      &:first-child {
        border-radius: 0.5em 0.5em 0 0;
      }
      &:last-child {
        padding-bottom: 0.5em;
        border-radius: 0 0 0.5em 0.5em;
      }
    }
  }

  .get-helm {
    padding-bottom: 50px;
    border: 2px dashed $lightblue;
    padding: 2em;
    margin-bottom: 4em;
    position: relative;
    z-index: 100;

    &:after {
      position: absolute;
      display: block;
      content: " ";
      top: 0.667em;
      left: -0.25em;
      width: 100%;
      height: 375px;
      z-index: -5;
      background-color: $darkblue;
      transform: rotateX(12deg);
      opacity: 0.425;
    }

    h2 {
      margin: 0 0 0.5em;
      padding: 0;
    }

    img {
      margin: 0.333em 0;
    }
  }

  .get-charts {
    padding-left: 3.5rem;

    h2 {
      margin: 2.5rem 0 1rem;
      padding: 0;
    }
  }

  .helm-community {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 100px;
    color: $darkblue;
    background: linear-gradient( 0deg, #fff, #F7F7F7);

    h2, p {
      color: $darkblue;
    }

    h2 {
      margin-bottom: 0.5em;

      & + p {
        margin-bottom: 4.5rem;
      }
    }

    .helm-community-links {
      ul {
        background-color: white;
        padding: 1.5em 2.25em;
        border-radius: 1em;

        li {
          font-size: 1.5rem;
          list-style: none;
          color: $darkblue;
          line-height: 2.5;
          padding-left: 2.25em;
          position: relative;
          @include klinicReg;

          a {
            color: $darkblue;
            border-bottom: 3px solid $blue;

            &:hover {
              color: $blue;
              border-color: $lightblue;
            }
          }

          .fa {
            color: $blue;
            font-size: 2rem;
            width: 1.25em;
            padding-right: 0em;
            position: absolute;
            left: 0;
            top: 0.525em;
          }
        }
      }
    }

    .helm-community-blocks {
      section {
        border: 1px solid $darkblue;
        border-radius: 1rem;
        margin: 0 0 2em;
        padding: 1.25rem 1.5rem;
        min-height: 125px;
        position: relative;

        &:first-child {
          min-height: 175px;
        }

        h4 {
          color: $darkblue;
          font-size: 1.5em;
          @include klinicBold;
          margin: -0.25em 0 0.667em;
        }

        p {
          color: $darkblue;
          font-size: 1rem;
          float: left;
          max-width: 60%;
        }

        a {
          color: $darkblue;
        }

        iframe {
          width: 35%;
          display: inline-block;
          min-width: 200px;
          position: absolute;
          right: 1em;
          top: 1em;
        }

        .right {
          background-color: lighten($light1, 1.5%);
          text-align: center;
          padding: 1.25em 2em 1em;
          width: 33.3%;
          position: absolute;
          top: 1em;
          right: 1em;

          .fa {
            font-size: 2.75rem;
            float: left;
            display: inline-block;
            padding-right: 0.333em;
            color: $blue;
          }
          em {
            font-style: normal;
            font-size: 1.125em;
            display: inline-block;
            min-width: 50%;
            color: $blue;
            font-weight: bold;
          }
          small {
            display: inline-block;
            font-size: 0.667rem;
            min-width: 50%;
            color: $blue;
          }
        }
      }
    }
  }
}

.helm-contrib-logos {
  text-align: center;
  padding-bottom: 50px;

  .helm-contrib-logos {
    padding-top: 1.5rem;
  }

  img {
    padding: 0;
    display: inline-block;
    margin: 0;
    max-width: 15%;
  }

  .helm-logo {
    margin: 0 auto;
    margin-bottom: 2.25em;
    display: block;
    text-align: center;
    padding: 3.5em 0 0;
  }

  hr {
    background-color: $lightblue;
    height: 2px;
    opacity: 0.25;
    width: 50%;
    margin: 1rem 25%;
  }

  p {
    color: $dark1;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    font-size: 1.333em;
    line-height: 2;
    letter-spacing: 0.025em;
    color: #9B9B9B;

    a {
      font-weight: bold;
      color: $darkblue;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid $blue;
      }
    }

    small {
      padding-top: 1rem;
      font-size: 0.925em;
    }
  }
}

.full-width {
  min-width: 100%;
}

.cncf {
  background: RGBA(246, 246, 246, 1.00);
  min-height: 5rem;
  margin-top: 4rem;
  text-align: center;
  padding-left: 0 !important;

  img {
    float: left;
    display: inline-block;
    max-width: 14rem;
    margin: 3rem 5%;
  }

  p {
    float: right;
    margin: 3.5rem 5%;
    display: inline-block;
    font-family: helvetica;
    color: #777;

    &:hover {
      color: $lightblue;
    }
  }
}

@media only screen and (min-device-width: $mobile-maximum-width + 1) {
  @include boat-animation-rules(-$boat-size, 25%, 145%, 0);
}

#boat {
  height: 2em;
  @media only screen and (min-device-width: $mobile-maximum-width + 1) {
    $duration: 20s;
    background: url('/src/img/boat.png') no-repeat;
    background-size: $boat-size;
    height: 169px; //TODO programmatize this!
    position: relative;

    -moz-animation: $boat-animation;
    -webkit-animation: $boat-animation;
    -ms-animation: $boat-animation;
    -o-animation: $boat-animation;
    animation: $boat-animation;
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    -ms-animation-duration: $duration;
    -o-animation-duration: $duration;
    animation-duration: $duration;
  }
}

@media screen and (max-width: 1024px) {
  #helm {
    .billboard {
      .helm-logo {
        position: absolute;
        left: 50%;
        top: 2.3rem;
        max-width: 112px;
        margin-left: -66px;
      }

      h1 {
        margin: -3rem 10% 0;
        font-size: 2.25rem;
      }

      h2 {
        margin: 1rem 12.5%;
        font-size: 1rem;
      }
    }
  }

  .contrib-logos-1,
  .contrib-logos-2 {
    img {
      max-height: 80px;
    }
  }

  .cncf {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0 !important;

    img,
    p {
      float: none;
      min-width: 80%;
      margin: 1.5rem auto;
    }

    img {
      max-width: 51%;
    }
  }
}



#helm {
  .panel {
    font-size: 21px;
    padding: ($gutter / 1.5) 0;
    width: 100%;
    position: relative;

    @include mobile {
      padding: 10px 0;
    }

    &.-blue {
      background-color: $blue;
      color: #fff;
      @include tablet {
      padding-top: $gutter;
    }
    h1, h2, p {
      color: $black;
      }
    }

    &.-gray {
      background-color: $light1;
    }
  }

  .geo-shapes-title {
    margin: 0 auto;

    &.blue h2 hr.border {
      border-color: $blue;
    }

    &.pink h2 hr.border {
      border-color: $pink;
    }

    h2 {
      display: inline-block;
      line-height: 1;
      padding: 0 1em;
      margin: 0 0 1.5em;
      @include klinicBold;

      hr.border {
        border-color: $green;
        border-width: 0 0 5px;
        margin: 0.575em -5% 1em
      }

      .geo-shapes {
        padding-bottom: 0;
        font-size: 21px;
        line-height: 1.5;

        hr {
          width: 42.5%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .panel.panel--signoff {
    min-height: 320px;
    overflow: hidden;
    margin-top: 75px;

    &.panel--signoff-how {
      min-height: 570px;
    }

    .text-center {
      @include centerer;
      margin-top: -5%;
      z-index: 1200;

      .geo-shapes {
        padding-top: 2em;
        padding-bottom: 0.5em;
      }

      h2 {
        margin: 0.5em 0;
      }

      h4 a {
        @include ripple;
        line-height: 1;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    .shape-position.shape-position-bottom {
      bottom: -10%;
    }
  }

  .intro {
    @include centerer;
    margin-top: 50px;

    .geo-shapes {
      padding-bottom: 0.5em;
    }

    p {
      max-width: 92%;
      font-size: 0.875em;
      margin: 0.5em auto 1.5em;
    }
  }

  .content {

    .pics {
      p {
        padding-right: 0;
      }
    }

    .text-center {
      p {
        padding-right: 0;
      }
    }

    p {
      padding-right: 5%;
      line-height: 1.636;
      margin-bottom: 1.5rem;

      &:last-child {
        @include tablet {
          margin-bottom: 1em;
        }
      }

      &.lead {
        @include klinicReg;
        padding: 0;
        font-size: 0.925em;
      }
    }

    code,
    pre {
      font-family: $font-family-monospace;
      background: darken($light1, 1.5%);
      border: none;
      color: $dark2;
      line-height: 1.8;
    }

    table {
      border: 2px solid $light1;
      margin: 1.5em auto;
      width: 100%;

      th,
      td {
        vertical-align: top;
        padding: 0.825em 1.5em 1.25em 0.75em;
        line-height: 1.333;
      }

      th {
        @include klinicBold;
        color: white;
        font-size: 1em;
        background: $dark1;
        line-height: 1.2;
      }

      .small {
        font-size: 0.75em;
        line-height: 1.7;
        max-width: 50%;
      }
    }

    dl {
      margin: 0 0 1.5em;
      font-size: 1.25rem;
      line-height: 1.5;

      dt,
      dd {
        @include klinicReg;
      }

      dt {
        @include klinicBold;
        color: darken($light2, 12.5%);
      }

      &.inline-list {
        dt,
        dd {
          float: left;
          display: inline-block;
          margin-right: 1em;
        }

        dt {
          clear: left;
        }
      }
    }

    address {
      @include klinicReg;
      font-size: 1.25rem;
      margin: 2em 0 1em;
      line-height: 1.333;

      em {
        @include klinicBold;
        font-style: normal;
        color: darken($light2, 12.5%);
      }
    }

    hr.blank {
      color: white;
      border-color: white;
    }

    a.ripple {
      @include ripple;
      display: inline;

      &:after {
        position: absolute;
        left: 0;
        bottom: -0.2em;
      }
    }

    .breakout-cta-row {
      background: white;
      box-shadow: 0 1px 3px darken($light2, 2.5%);
      padding: 1em 1.25em;
      margin-bottom: 1.25em;

      p.left {
        font-size: 0.75em;
        padding: 0.5em 0;
        margin: 0;
        color: darken($light2, 42.5%);
      }

      @include mobile {
        p.left,
        button {
          float: none;
          text-align: center;
          margin: 0 auto;
        }
      }
    }

    .centerer {
      @include centerer;
    }
  }

  .hidden {
    display: none;
  }


  // required to enforce "sticky" menu items when hamburger is clicked
  .off-canvas-wrap.move-left {
    position: fixed;
  }

    // ensure that top navbar hugs the top in mobile
  .navbar.top-bar {
    @include mobile {
      top: 0;
    }
  }

  #tos {
    padding-top: 100px;
    @include mobile {
      padding: 80px 20px 20px 20px;
    }
  }
}
