/* ==
Helm
*/

// point to the node_modules directory
$npm : '../../../../../node_modules';

// load reset (normalize)
@import "foundation/normalize.scss";

// load foundation
@import "foundation/components/grid.scss";
@import "foundation/components/block-grid.scss";

@import "foundation/components/buttons.scss";

@import "foundation/components/inline-lists.scss";
@import "foundation/components/top-bar.scss";
@import "foundation/components/type.scss";
@import "foundation/components/offcanvas.scss";
@import "foundation/components/visibility.scss";


// load helm styles
@import "helm-animation.scss";
@import "helm-mixins.scss";
@import "helm-buttons.scss";
@import "helm-typography.scss";

// load main helm.sh page
@import "helm-home.scss";
@import "helm-blog.scss";

// load documentation styles
@import "docs-layout.scss";
@import "docs-sidebar.scss";
@import "docs-topbar.scss";
@import "docs-footer.scss";
@import "docs-home.scss";
@import "docs-content.scss";
@import "docs-responsive.scss";
@import "docs-404.scss";

html {
  background: white !important;

}
