// Fonts & Variables
// ---------------------------------------
//

@font-face {
  font-family: 'work_sansregular';
  src: url('../../fonts/worksans-regular-webfont.eot');
  src: url('../../fonts/worksans-regular-webfont.eot?#iefix') format("embedded-opentype"),
       url('../../fonts/worksans-regular-webfont.woff') format('woff'),
       url('../../fonts/worksans-regular-webfont.ttf') format('truetype'),
       url('../../fonts/worksans-regular-webfont.svg#f310d4dccd89e059e79d3b6deebb4725') format('svg');
  font-style: normal;
  font-weight: 400;
}

$work: 'work_sansregular', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
$blued: #277a9f;
$bluem: #37b0e7;
$bluel: #EFF4F5;


// Layout
header {
  border-top: 4px solid #37b0e7;
  background: #E4ECE8;
  background: -webkit-linear-gradient(left, #E4ECE8, #9AAACD);
  background: -moz-linear-gradient(left, #E4ECE8, #9AAACD);
  background: linear-gradient(to right, #E4ECE8, #9AAACD);
  min-height: 7.5rem;

  h1,
  p {
    color: $blued !important;
  }

  h1  {
    text-indent: -9999em;
    position: absolute;
    left: 2.5%;
    top: 1.5rem;
    background: url('../images/brigade.png') no-repeat 0 0;
    background-size: contain;
    width: 240px;
    min-height: 78px;
    display: block;
  }
  p {
    text-indent: -999em;
  }

  .menu {
    background: #E4ECE8;
    background: -webkit-linear-gradient(left, #E4ECE8, #9AAACD);
    background: -moz-linear-gradient(left, #E4ECE8, #9AAACD);
    background: linear-gradient(to right, #E4ECE8, #9AAACD);
    border: none;
  
    a {
      color: $blued;
    }
  }

  nav {
    position: absolute;
    right: 5%;
    top: 3.125rem;

    ul {
      li {
        a {
          font-size: 1.125rem;
  
        }
      }
    }
  }
}

.sidebar {
  background: #f6f9fa;
  max-width: 300px !important;

  nav {
    padding-top: 1rem;
    ul {
      li {
        a {
          border: none;
          transition: all 0.3s ease-in-out;
          color: $blued;

          &:hover {
            border-left: 0px solid #ccc !important;
            background: $bluel !important;
          }
        }

        &.active a {
          background: $bluel !important;
          border-left: 0px solid #ccc !important;
          color: $bluem !important;
        }

        ul {
          padding-bottom: 0.667rem;
          
          li {
            a {
              font-size: 0.825rem;
              color: #647b83;
            }
          }
        }
      }
    }
  }
}

main {
  padding-bottom: 0;
}

// content styles
main article.content-wrap {
  -ms-flex: auto !important;
  flex: auto !important;
  max-width: auto !important;
  max-width: 780px !important;
  margin-left: auto !important;
  margin-right: auto !important;

  h1 {
    color: $blued;
    margin-bottom: 1.25rem;
  }

  // page title area
  h1 + h1 {
    font-weight: normal;
    font-size: 1rem;
    margin: -1rem 0 2rem;
    color: $bluem;
  }
  
  h1 + h1 + p {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 2.25rem;
  }

  h2 {
    color: $bluem;
    margin-top: 2.5rem;
  }

  p {
    line-height: 1.7;
    padding-right: 5%;
    color: #647b83;
  }

  ul, ol {
    li {
      color: #647b83;
      line-height: 1.8;
      padding-bottom: 0.333rem;
    }
  }
 
  code {
    background: #E4ECE8;
  }

  pre {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: darken(#7e949c, 7.5%);
    border-radius: 0.667rem;
    background: #E4ECE8;
    background: -webkit-linear-gradient(left, #E4ECE8, darken(#E4ECE8, 2.5%));
    background: -moz-linear-gradient(left, #E4ECE8, darken(#E4ECE8, 2.5%));
    background: linear-gradient(to right, #E4ECE8, darken(#E4ECE8, 2.5%));
    line-height: 1.4;
  }
}

// link styles

article p,
article li,
article small,
nav.pagination {
  a {
    color: $bluem;
    position: relative;
    transition: all 0.3s ease-in-out;
    text-decoration: none;

    &:after {
      width: 10%;
      height: 3px;
      position: absolute;
      bottom: -2px;
      left: 50%;
      display: block;
      content: " ";
      background: $bluem;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    &:hover:after {
      width: 100%;
      left: 0;
      opacity: 1;
    }
  }
}

footer {
  margin: 0 auto;
  padding: 4rem 0 1.5rem;
  background-color: lighten($bluel, 2.5%);
  text-align: center;
  
  p,
  p.powered,
  a {
    color: #aaa;
  }
}