.main {
  margin-bottom: -5em;

  &.footer-expanded {
    margin-bottom:  -11em;
  }
}

.styleguide-footer {
  min-height: 5rem;
  overflow: hidden;
  position: relative;
  z-index: 500;
  padding-top: 1.25em;
  background-color: $grey4;
  border-bottom: 6px solid $grey4;
  min-width: 100%;
  @include transition;

  ul {
    list-style: none;
    float: left;
    margin-bottom: 0;

    li {
      display: block;
      margin: 0;

      a {
        font-weight: 400;
      }
    }
  }

  p,
  li {
    color: $grey2;
    line-height: 1.7;
    font-size: 0.667rem;
    @include klinicReg;
  }

  li a {
    font-size: 0.75rem;
  }

  strong {
    @include upperCase;
    margin:  0.75rem 0 0.25rem;
    display: block;
    font-weight: normal;

    a {
      color: $grey2;
      cursor: pointer;
    }
  }

  a {
    color: $blue1;

    &:hover {
      border: none;
      text-decoration: none;
      color: white;
    }
  }

  .fa.footer-reveal {
    font-size: 1rem;
    cursor: pointer;
    width: 2em;
    height: 2em;
    text-align: center;
    position: absolute;
    left: -0.65em;
    top: 0.35rem;
    @include border-radius(50%, 50%);
    @include transition;

    &:hover {
      background: darken($grey4, 5%);
      color: $grey2;
    }
  }

  p {
    margin-top: 0.75rem;
    color: $grey4;

    &:nth-child(2) {
      margin-top: 2.67rem;
      font-size: 0.75rem;
      line-height: 1.5;

      a {
        color: $blue1;
      }
    }
  }

  img {
    margin: 0;
    float: right;
    opacity: 0.7;
    @include transition;

    &:hover {
      opacity: 1;
    }
  }

  .sub-nav-social {
    position: absolute;
    right: 1em;
    bottom: 2em;
    text-align: right;

    li {
      display: inline-block;
      margin: 1rem 0.25em;
      text-align: right;

      a {
        font-size: 1.5em;
        color: $grey3;
        width: 2em;
        height: 2em;
        text-align: center;
        background: darken($grey4, 5%);
        @include border-radius(50%, 50%);
        @include transition;

        &:hover {
          background: $blue4;
          color: white;
        }
      }
    }
  }

  .footer-extra {
    div {
      display: none;
      opacity: 0;
      height: 0;
      min-height: 0;
      overflow: hidden;
      @include transition(all, 0.3s, ease-in-out);
    }
  }

  &.footer-expanded {
    margin-top: -11rem;
    min-height: 11rem;

    .footer-extra div {
      display: block;
      opacity: 1;
      min-height: 8em;
    }

    a.fa.footer-reveal {
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}

#contrib {
  background: $blue1;
  padding-bottom: 4rem;
}

.contrib-text {
  p {
    color: white;
    font-size: 1rem;
    margin: 0 auto;
    padding-left: 2rem;

    &.lead {
      font-size: 1.2rem;
      margin: 2rem auto 3rem;
      position: relative;
      line-height: 4;

      &:after {
        content: " ";
        display: block;
        width: 14%;
        position: absolute;
        bottom: -1.25rem;
        left: 43%;
        height: 5px;
        background: $grey1;
        opacity: 0.25;
      }
    }

    img {
      max-height: 24px;
      margin: -2px 0 0 22px;
    }

    a {
      color: white;
      font-weight: bold;
    }
  }
}

.cncf-wrap {
  max-width: 100%;
}

.cncf {
  background: desaturate($light2, 50%);
  min-height: 2rem;
  text-align: center;
  padding-left: 300px;

  img {
    float: left;
    display: inline-block;
    max-width: 10rem;
    margin: 1.5rem 0 1.5rem 7.5%;
  }

  p {
    float: right;
    margin: 1.5rem 2.5% 0 0;
    display: inline-block;
    font-family: helvetica;
    color: #222;

    &:hover {
      color: $blue2;
    }
  }
}
